################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
/Aula 1 - Calculadora/.vs
/Aula 1 - Calculadora/CalculadoraApp/bin
/Aula 1 - Calculadora/CalculadoraApp/obj
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj
/Aula 1 - Calculadora/.vs/CalculadoraApp/DesignTimeBuild/.dtbcache.v2
/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/.suo
/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/DocumentLayout.backup.json
/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/DocumentLayout.json
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0/CalculadoraApp.deps.json
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0/CalculadoraApp.dll
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0/CalculadoraApp.exe
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0/CalculadoraApp.pdb
/Aula 1 - Calculadora/CalculadoraApp.Testes/CalculadoraTest.cs
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/apphost.exe
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/ref/CalculadoraApp.dll
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/refint/CalculadoraApp.dll
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.csproj.CoreCompileInputs.cache
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.csproj.FileListAbsolute.txt
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.dll
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.genruntimeconfig.cache
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.pdb
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.deps.json
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.exe
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.pdb
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.Testes.deps.json
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.Testes.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CalculadoraApp.Testes.pdb
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/ref/CalculadoraApp.Testes.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/refint/CalculadoraApp.Testes.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/CalculadoraApp.Testes.csproj.nuget.dgspec.json
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/CalculadoraApp.Testes.csproj.nuget.g.props
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.csproj.CoreCompileInputs.cache
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.csproj.FileListAbsolute.txt
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.genruntimeconfig.cache
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.pdb
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/project.assets.json
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/project.nuget.cache
