################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/.suo
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/.vs/slnx.sqlite-journal
/.vs/AluraTestesDotNet/config
/.vs/AluraTestesDotNet/copilot-chat
/.vs/AluraTestesDotNet/CopilotIndices/17.14.1231.31060
/.vs/AluraTestesDotNet/FileContentIndex
/.vs/AluraTestesDotNet/v17
/Aula 1 - Calculadora/.vs
/.vs/CopilotSnapshots
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0
/ScreenSound/.vs
/ScreenSound/ScreenSound.API/bin/Debug/net9.0/ScreenSound.API.dll
/ScreenSound/ScreenSound.API/bin/Debug/net9.0/ScreenSound.API.exe
/ScreenSound/ScreenSound.API/bin/Debug/net9.0/ScreenSound.Shared.Dados.dll
/ScreenSound/ScreenSound.API/bin/Debug/net9.0/ScreenSound.Shared.Modelos.dll
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/rpswa.dswa.cache.json
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/ScreenSound.API.AssemblyInfo.cs
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/ScreenSound.API.AssemblyInfoInputs.cache
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/ScreenSound.API.assets.cache
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/ScreenSound.API.csproj.AssemblyReference.cache
/ScreenSound/ScreenSound.API/obj/Debug/net9.0/ScreenSound.API.GeneratedMSBuildEditorConfig.editorconfig
/ScreenSound/ScreenSound.API/obj/Release/net9.0
/ScreenSound/ScreenSound.Shared.Dados/obj/Debug/net9.0/ScreenSound.Shared.Dados.AssemblyInfo.cs
/ScreenSound/ScreenSound.Shared.Dados/obj/Debug/net9.0/ScreenSound.Shared.Dados.AssemblyInfoInputs.cache
/ScreenSound/ScreenSound.Shared.Dados/obj/Debug/net9.0/ScreenSound.Shared.Dados.assets.cache
/ScreenSound/ScreenSound.Shared.Dados/obj/Debug/net9.0/ScreenSound.Shared.Dados.csproj.AssemblyReference.cache
/ScreenSound/ScreenSound.Shared.Dados/obj/Debug/net9.0/ScreenSound.Shared.Dados.GeneratedMSBuildEditorConfig.editorconfig
/ScreenSound/ScreenSound.Shared.Dados/obj/Release/net9.0
/ScreenSound/ScreenSound.Shared.Modelos/obj/Debug/net9.0/ScreenSound.Shared.Modelos.AssemblyInfo.cs
/ScreenSound/ScreenSound.Shared.Modelos/obj/Debug/net9.0/ScreenSound.Shared.Modelos.AssemblyInfoInputs.cache
/ScreenSound/ScreenSound.Shared.Modelos/obj/Debug/net9.0/ScreenSound.Shared.Modelos.assets.cache
/ScreenSound/ScreenSound.Shared.Modelos/obj/Debug/net9.0/ScreenSound.Shared.Modelos.GeneratedMSBuildEditorConfig.editorconfig
/ScreenSound/ScreenSound.Shared.Modelos/obj/Release/net9.0
/ScreenSound/ScreenSound.Tests.Integracao/bin/Debug/net9.0/.msCoverageSourceRootsMapping_ScreenSound.Tests.Integracao
/ScreenSound/ScreenSound.Tests.Integracao/bin/Debug/net9.0/CoverletSourceRootsMapping_ScreenSound.Tests.Integracao
/ScreenSound/ScreenSound.Tests.Integracao/bin/Debug/net9.0/ScreenSound.Shared.Dados.deps.json
/ScreenSound/ScreenSound.Tests.Integracao/bin/Debug/net9.0/ScreenSound.Shared.Modelos.deps.json
/ScreenSound/ScreenSound.Tests.Integracao/bin/Release/net9.0
/ScreenSound/ScreenSound.Tests.Integracao/obj/Debug/net9.0/ScreenSound.Tests.Integracao.AssemblyInfo.cs
/ScreenSound/ScreenSound.Tests.Integracao/obj/Debug/net9.0/ScreenSound.Tests.Integracao.AssemblyInfoInputs.cache
/ScreenSound/ScreenSound.Tests.Integracao/obj/Debug/net9.0/ScreenSound.Tests.Integracao.assets.cache
/ScreenSound/ScreenSound.Tests.Integracao/obj/Debug/net9.0/ScreenSound.Tests.Integracao.csproj.AssemblyReference.cache
/ScreenSound/ScreenSound.Tests.Integracao/obj/Debug/net9.0/ScreenSound.Tests.Integracao.GeneratedMSBuildEditorConfig.editorconfig
/ScreenSound/ScreenSound.Tests.Integracao/obj/Release/net9.0
/ScreenSound/ScreenSound.Tests.Unitarios/bin
/ScreenSound/ScreenSound.Tests.Unitarios/obj/Debug/net9.0
/ScreenSound/ScreenSound.Tests.Unitarios/obj/Release/net9.0
/ScreenSound/ScreenSound.Tests.Unitarios/obj
/ScreenSound/ScreenSound.WebAssembly/bin/Debug/net9.0/wwwroot/_framework
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/compressed
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/rpswa.dswa.cache.json
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/ScreenSound.WebAssembly.AssemblyInfo.cs
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/ScreenSound.WebAssembly.AssemblyInfoInputs.cache
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/ScreenSound.WebAssembly.assets.cache
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/ScreenSound.WebAssembly.csproj.AssemblyReference.cache
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/ScreenSound.WebAssembly.GeneratedMSBuildEditorConfig.editorconfig
/ScreenSound/ScreenSound.WebAssembly/obj/Debug/net9.0/staticwebassets.removed.txt
/ScreenSound/ScreenSound.WebAssembly/obj/Release/net9.0
