################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/.suo
/.vs/AluraTestesDotNet/CopilotIndices/17.14.1231.31060
/.vs/AluraTestesDotNet/FileContentIndex
/.vs/ProjectSettings.json
/Aula 1 - Calculadora/.vs/CalculadoraApp/copilot-chat/84baa1f2/sessions
/Aula 1 - Calculadora/.vs/CalculadoraApp/CopilotIndices/17.14.1231.31060
/Aula 1 - Calculadora/.vs/CalculadoraApp/FileContentIndex
/Aula 1 - Calculadora/.vs/CopilotSnapshots/ABD8049C6F67F74C8029ADD8313ACA51
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/Calculad.DE631C74.Up2Date
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.AssemblyInfo.cs
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.AssemblyInfoInputs.cache
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.assets.cache
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.csproj.AssemblyReference.cache
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.GeneratedMSBuildEditorConfig.editorconfig
/Aula 1 - Calculadora/CalculadoraApp/obj/Debug/net8.0/CalculadoraApp.sourcelink.json
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.AssemblyInfo.cs
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.AssemblyInfoInputs.cache
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.assets.cache
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.csproj.AssemblyReference.cache
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.GeneratedMSBuildEditorConfig.editorconfig
/Aula 1 - Calculadora/CalculadoraApp.Testes/obj/Debug/net8.0/CalculadoraApp.Testes.sourcelink.json
/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/TestStore/0/000.testlog
/Aula 1 - Calculadora/.vs/CalculadoraApp/v17/TestStore/0/testlog.manifest
/Aula 1 - Calculadora/CalculadoraApp/bin/Debug/net8.0/FluentAssertions.dll
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/CoverletSourceRootsMapping_CalculadoraApp.Testes
/Aula 1 - Calculadora/CalculadoraApp.Testes/bin/Debug/net8.0/FluentAssertions.dll
