@inject IConfiguration Configuration

<div class="card-artista">
    <img src="@ImageServer/FotosPerfil/@Artista?.FotoPerfil" class="card-img" />
    <div class="card-body">
        <h4>@Artista.Nome</h4>
        <p class="bio">@Artista.Bio</p>
        <a class="btn" href="EditarArtista/@Artista.Nome">Detalhes</a>
    </div>
</div>

@code {
    public string ImageServer { get; set; }

    [Parameter]
    public ArtistaResponse Artista { get; set; }

    protected override Task OnInitializedAsync()
    {
        ImageServer = Configuration["APIServer"];
        return base.OnInitializedAsync();
    }
}
